html {
    font-size: 16px;
}

body {
    font-family: "Bookman Old Style", Helvetica, serif;
    line-height: 1.2;
}

/*Generic styles*/

header .mobile {
    display: none;
}

.img-width {
    max-width: 100%;
}

.large-img-container {
    width: 60%;
}

.large-img-padding {
    padding: 2rem 1.5rem;
}

.small-img-container {
    width: 40%;
}

.small-img-padding {
    padding: 1rem 1rem;
}

.text-padding {
    padding: 0.5rem 0;
}

.rounded-border {
    border-radius: 5px;
}

.circle {
    border-radius: 50%;
}

.bold {
    font-weight: bold;
}

@media only screen and (max-width: 500px) {

    .rounded-border {
        border-radius: 0;
    }
}

/*Header styles*/

header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #ff69b4;
    z-index: 1;
    background-color: #F0A7D6;
    color: white;
    height: 4rem;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1rem;
}

header .logo {
    flex: 1;
}

header nav ul {
    display: flex;
}

header nav li {
    padding-left: 3.5rem;
    padding-bottom: 0.5rem;
}

header nav a {
    line-height: 1.6;
    color: white;
}

header nav a:hover {
    color: #579EF1;
    transition: color 0.5s ease-out 0s;
}

header span {
    padding-bottom: 0.5rem;
}

/*Banner styles*/

.banner {
    padding-top: 4rem;
    background-color: hsl(321, 30%, 85%);
    display: flex;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-info {
    padding-left: 1rem;
    padding-right: 8.5rem;
}

.banner-info h1 {
    font-size: 2.25rem;
}

.banner-info p {
    font-size: 1.25rem;
    padding: 2rem 2rem 2rem 0;
}

.start-here {
    background-color: #ff69b4;
    border-radius: 50px;
    text-align: center;
    padding: 1rem 0;
}

.start-here span a {
    color: white;
}
