html {
    font-size: 16px;
}

body {
    font-family: "Bookman Old Style", Helvetica, serif;
    line-height: 1.2;
}

/******************/
/* Generic Styles */
/******************/

header .mobile {
    display: none;
}

.img-width {
    max-width: 100%;
}

.large-img-container {
    width: 60%;
}

.large-img-padding {
    padding: 2rem 1.5rem;
}

.small-img-container {
    width: 40%;
}

.small-img-padding {
    padding: 1rem 1rem;
}

.text-padding {
    padding: 0.5rem 0;
}

.rounded-border {
    border-radius: 5px;
}

.circle {
    border-radius: 50%;
}

.info-image {
    width: 35%;
}

.bold {
    font-weight: bold;
}

/**********************/
/* Responsive Generic */
/**********************/

@media only screen and (max-width: 500px) {

    .rounded-border {
        border-radius: 0;
    }
}

/*****************/
/* Header Styles */
/*****************/

header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #ff69b4;
    z-index: 1;
    background-color: #F0A7D6;
    color: white;
    height: 4rem;
}

header img {
    margin-right: 0.25rem;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1rem;
}

header .logo {
    flex: 1;
}

header nav ul {
    display: flex;
}

header nav li {
    padding-left: 3.5rem;
    padding-bottom: 0.5rem;
}

header nav a {
    line-height: 1.6;
    color: white;
}

header nav a:hover {
    color: #579EF1;
    transition: color 0.5s ease-out 0s;
}

header span {
    padding-bottom: 0.5rem;
}

/*********************/
/* Responsive Header */
/*********************/

@media only screen and (max-width: 500px) {

    header .desktop {
        display: none;
    }

    .content span {
        display: none;
    }

    header .mobile {
        display: block;
        width: 100%;
    }

    header .content {
        padding: 1rem 0;
    }

    header .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    header .mobile li {
        padding: 0;
    }

}

/*****************/
/* Banner Styles */
/*****************/

.banner {
    padding-top: 4rem;
    background-color: hsl(321, 30%, 85%);
    display: flex;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-info {
    padding-left: 1rem;
    padding-right: 8.5rem;
}

.banner-info h1 {
    font-size: 2.25rem;
}

.banner-info p {
    font-size: 1.25rem;
    padding: 2rem 2rem 2rem 0;
}

.start-here {
    background-color: #ff69b4;
    border-radius: 50px;
    text-align: center;
    padding: 1rem 0;
}

.start-here span a {
    color: white;
}

.start-here span a:hover {
    color: #579EF1;
    transition: color 0.5s ease-out 0s;
}

/*********************/
/* Responsive Banner */
/*********************/

@media only screen and (max-width: 500px) {

    .large-img-padding {
        padding: 0;
    }

    .large-img-container {
        width: 100%;
    }

    .small-img-container {
        width: 100%;
    }

    .banner-info {
        padding: 2rem 3rem;
    }

    .banner-info h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .banner-info p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .banner {
        flex-direction: column;
    }

}

/********************/
/*Information Styles*/
/********************/

.information {
    display: flex;
}

.information-left {
    border-right: 0.25px solid lightpink;
}

.information-left-content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.information-left-content h2 {
    font-size: 2rem;
}

.information-left-content p {
    padding: 1.5rem 1.5rem 2.5rem 0;
}

.information-right {
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.info {
    display: flex;
}

.info-image img {
    max-width: 100%;
    height: auto;
}

.info-text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-text h2,
.info-text span,
.info-text a {
    padding: 0.5rem;
}

.info-text a {
    color: #ff69b4
}

.info-text a:hover {
    background-color: #ff69b4;
    color: white;
    width: 5.25rem;
    border: 1px solid white;
    border-radius: 50px;
    transition: background-color ease-out 0.5s, color ease-out 0.5s;
}

.info-text h2 {
    font-size: 1.5rem;
}

.orientation {
    border-bottom: 0.25px solid lightpink;
    border-top: 0.25px solid lightpink;
}

.campus {
    border-top: 0.25px solid lightpink;
    margin-top: 1px;
}

.guest-lecture {
    background-color: hsl(321, 30%, 85%);
}

/**************************/
/* Responsive Information */
/**************************/

@media only screen and (max-width: 500px) {

    .information-left {
        display: none;
    }

    .information-right {
        width: 100%;
        padding: 0 1.5rem 0 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 3rem;
    }

    .guest-lecture {
        background: none;
    }

    .orientation,
    .campus {
        border: none;
    }

    .info-text a:hover {
        background-color: white;
        color: #579EF1;
        width: auto;;
        border: none;
        border-radius: 0;
        transition: color ease-out 0.5s;
    }

}

/******************/
/* Courses Styles */
/******************/

.courses {
    background-color: hsl(321, 30%, 85%);
    padding: 0 4.5rem 4.5rem 4.5rem;
}

.courses-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.course {
    width: 30%;
    background-color: white;
    margin-bottom: 2rem;
}

.course-image {
    width: 100%;
}

.course-image img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.courses h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
}

.course-text h3,
.course-text span,
.course-text p {
    padding: 0.5rem;
}

.course h3 {
    font-size: 1.5rem;
}

.courses-mobile {
    display: none;
}

/**********************/
/* Responsive Courses */
/**********************/

@media only screen and (max-width: 500px) {

    .courses {
        display: none;
    }

    .courses-mobile {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: left;
    }

    .courses-mobile h2 {
        font-size: 2rem;
        text-align: center;
        padding: 2rem 1rem 1rem 0;
    }

    .courses-mobile div {
        margin: 0.5rem 0;
        padding: 1rem;
        border-radius: 50px;
        background-color: hsl(321, 30%, 85%);
        text-align: center;
    }

    .courses-mobile div span {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

/*****************/
/* Thesis Styles */
/*****************/

.thesis video {
    max-width: 100%;
    height: auto;
    background-color: hsl(321, 30%, 85%);
}

.thesis {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.thesis .information-left {
    border: none;
}

.thesis .orientation {
    border: none;
}

.title {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
}

.thesis-content {
    display: flex;
}

.thesis .information-right {
    padding-top: 2rem;
}

/*********************/
/* Responsive Thesis */
/*********************/

@media only screen and (max-width: 500px) {

    .thesis .information-right {
        display: none;
    }

    .thesis .information-left-content {
        display: none;
    }

    .thesis .large-img-padding {
        padding: 0;
    }

    .thesis .large-img-container {
        width: 100%;
    }

    .thesis .information-left {
        display: block;
        width: 100%;
        background: none;
    }

    .thesis .title {
        font-size: 2rem;
    }

}

/***************/
/*Footer styles*/
/***************/

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.legal span a {
    padding: 1rem;
    color: #ff69b4;
    font-weight: 400;
}

.legal span a:hover {
    font-weight: 900;
    transition: font-weight 2s ease-out 0s;
}

/*********************/
/* Responsive Footer */
/*********************/

@media only screen and (max-width: 500px) {

    footer .legal {
        display: none;
    }
}
